# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.pkl
*.joblib

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build
package-lock.json
